/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*development hack*/
* {
	/*	outline: solid .1rem #ddd;*/
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end meyer reset*/


/*GOOGLE FONTS WERE HERE*/

/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Merriweather', serif;*/
/*red color #b30000*/


*:before,
*:after {
	box-sizing: border-box;
}

html {
	color: #0E0B06;
	font-size: 10px;
	font-family: 'IBM Plex Serif', serif;
}

/* ALL PAGES */


/ .container {
	background-color: white;
	display: grid;
	margin: 0 auto;
	width: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 1rem 2rem;
}

.nav-logo {
	height: auto;
	max-width: 100%;

}

.nav-flex {
	align-items: center;
	display: grid;
	font-size: 1.2rem;
	grid-template-columns: 1fr 1fr 1fr;
	text-transform: uppercase;
}


header li a {
	color: #B30000;
	text-decoration: none;
}

header li a:hover {
	color: #ef0e0e;
	text-decoration: underline;
	text-decoration-style: double bold;
}

header li a:visited {
	color: rgba(98, 22, 22, 0.21);
}

li .nav-contact {
	color: #B30000;
}

li {
	font-size: 1.6rem;
}



/*MOBILE GENERAL TEXT*/

h1 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 4.4rem;
}

h2 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 3.2rem;
	font-weight: 200;
	text-transform: capitalize;
}

h3 {
	font-family: 'IBM Plex Serif', serif;
	font-size: 2.6rem;
	text-transform: capitalize;

}

h4 {
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.5;
	max-width: 80rem;
}

h5 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 1.6rem;
	font-weight: 700;
}

h6 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 1.2rem;
}

p {
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.8rem;
	line-height: 1.5;
	max-width: 80rem;
	text-align: left;
}


/*IMAGES*/
img {
	height: auto;
	max-width: 100%;
}

/*UNIVERSAL PADDING*/

section {
	padding: 2.5rem 0;

}

/*

.two,
.four,
.six,
.eight,
.ten,
.twelve {
	background-color: #D2E7EE;


}
*/



/*BUTTONS*/

.button {
	background-color: #B30000;
	border-color: #B30000;
	border-radius: 4rem;
	color: white;
	font-size: 1.8rem;
	line-height: 2.6rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	text-transform: capitalize;
	width: 26.6rem;


}

.button:hover {
	background-color: #ef0e0e;
	border-color: rgba(137, 91, 91, 0.38);
	box-shadow: .5rem .5rem .5rem #777777;
	transform: translateY(-5px);
}

.button-box {
	text-align: center;
}


/*FOOTER*/
.contact-info {
	align-items: center;
	background-color: #B30000;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 1rem;
	text-align: center;
}

/*VILLAGE CASE STUDY*/

/*recurring*/

/*CB IS CONTENT PADDING BETWEEN HEADER & FOOTER*/
.content-borders {
	padding: 0 2rem;

}

/*
.height-section-borders {
	padding: 2rem 0;
}*/

/*village introduction*/

.quote {
	font-style: italic;
	font-weight: 700;
	color: #285835;
}


.village-logo {
	margin: auto;
	padding-top: 3rem 0 1rem 0;
}



.case-study-title {
	color: #285835;
}

.who-did-this {
	font-weight: 300;
}

.village-section-header {
	color: #285835;
	padding: 2rem 0;
	text-align: center;
	text-transform: capitalize;
}

.wireframe-wrap {
	display: flex;
	flex-direction: column;
}

.village-hifi-wireframe-with-border {
	box-shadow: 0 0 10px #777777;
	margin: 30px 0;
}


.village-introduction,
h3 {
	padding: 3rem 0;
	text-align: center;
}

.village-introduction h1 {
	text-align: center;
}

.village-project-overview h3 {
	padding-bottom: 3rem;
}

.problem-statement {
	text-decoration: underline;
}


.center-percentages {
	text-align: center;
	padding: 3rem 0 1rem 0;
}

.chart-number {
	color: #285835;
	font-size: 6rem;
	font-weight: 700;
}

.village-chart-explanation {
	text-align: center;
}

.deliverables-list {
	padding: 2rem 0;
}

.deliver-one,
.deliver-two,
.deliver-three {
	padding: 2rem 0;
}

.performed {
	font-size: 1.6rem;
	list-style: disc;
	list-style-position: inside;
	padding: .5rem;
}

.market-logo {
	padding: 3rem 0 1rem 0;
}


.village-what-is-used {
	padding: 1.5rem 0;
}

.product-attributes {
	font-size: 1.6rem;
	line-height: 1.2;
	list-style: disc;
	list-style-position: inside;
	padding: .5rem;
}


.village-products {
	padding: 2rem 0;
	text-align: center;
}

.section-heading {
	padding: 1rem 0;
}

.section-thoughts {
	padding: 3rem 0;
	text-decoration-line: underline;
}

.village-persona-picture {
	padding: 4rem 0 2rem;
}


.village-user-name {
	padding: 2rem 0 1rem;
	color: #285835;
}

.village-who-is-this-persona {
	font-weight: 300;
	font-style: italic;
}


.village-user-personas h5 {
	padding: 2rem 0;
}

.village-deep-dive {
	padding: 3rem 0;
	font-style: italic;
}

.village-process-label {
	padding: 2rem 0;
}

/*
.village-flow-images {
	border: .5px black solid;
}
*/

.village-lofi-sketch-pictures {
	padding-bottom: 3rem;
}


.village-lofi-whiteboard-pictures {
	padding-bottom: 3rem;
	;

}

.village-lofi-wireframes {
	border: 1px solid black;
	/*	box-shadow: 0 0 10px #777777;*/
	padding-bottom: 3rem;


}


.village-branding p {
	padding: 1.5rem;
}

.village-final-logo-and-name {
	padding: 3rem 0;
}

.village-conclusions p {
	padding: 1rem 0;
}

/*VILLAGE MEDIA QUERIES*/


/*VILLAGE MOBILE(REGULAR SETUP) 375width*/

/*VILLAGE TABLET 768*/
@media screen and (min-width: 768px) {}


/*VILLAGE DESKTOP*/
@media screen and (min-width: 1024px) {}
