/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*development hack*/
* {
	/*	outline: solid .1rem #ddd;*/
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end meyer reset*/


/*GOOGLE FONTS WERE HERE*/

/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Merriweather', serif;*/
/*red color #b30000*/


*:before,
*:after {
	box-sizing: border-box;
}

html {
	color: #0E0B06;
	font-size: 10px;
	font-family: 'IBM Plex Serif', serif;
}

/* ALL PAGES */


/ .container {
	background-color: white;
	display: grid;
	margin: 0 auto;
	width: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 1rem 2rem;
}

.nav-logo {
	height: auto;
	max-width: 100%;

}

.nav-flex {
	align-items: center;
	display: grid;
	font-size: 1.2rem;
	grid-template-columns: 1fr 1fr 1fr;
	text-transform: uppercase;
}


header li a {
	color: #B30000;
	text-decoration: none;
}

header li a:hover {
	color: #ef0e0e;
	text-decoration: underline;
	text-decoration-style: double bold;
}

header li a:visited {
	color: rgba(98, 22, 22, 0.21);
}

li .nav-contact {
	color: #B30000;
}

li {
	font-size: 1.6rem;
}



/*MOBILE GENERAL TEXT*/

h1 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 4.4rem;
}

h2 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 3.2rem;
	font-weight: 300;
	text-transform: capitalize;
}

h3 {
	/*	font-family: 'IBM Plex Serif', serif;*/
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 2.6rem;
	text-transform: capitalize;

}

h4 {
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: capitalize;
}

h5 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 1.6rem;
}

h6 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 1.4rem;
}

p {
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.8rem;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 80rem;
	text-align: left;
}


/*IMAGES*/
img {
	height: auto;
	max-width: 100%;
}

/*UNIVERSAL PADDING*/

section {
	padding: 2.5rem 0;

}

/*

.two,
.four,
.six,
.eight,
.ten,
.twelve {
	background-color: #D2E7EE;


}
*/



/*BUTTONS*/

.button {
	background-color: #B30000;
	border-color: #B30000;
	border-radius: 4rem;
	color: white;
	font-size: 1.8rem;
	line-height: 2.6rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	text-transform: capitalize;
	width: 26.6rem;


}

.button:hover {
	background-color: #ef0e0e;
	border-color: rgba(137, 91, 91, 0.38);
	box-shadow: .5rem .5rem .5rem #777777;
	transform: translateY(-5px);
}

.village-button-box {
	text-align: center;
}


/*FOOTER*/
.contact-info {
	align-items: center;
	background-color: #B30000;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 1rem;
	text-align: center;
}

/*VILLAGE CASE STUDY*/

.nav-resume,
.nav-bio,
.nav-contact {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}

/*recurring*/

/*CB IS CONTENT PADDING BETWEEN HEADER & FOOTER*/
.village-content-borders {
	padding: 0 4rem;


}


/*village introduction*/

.quote {
	font-style: italic;
	font-weight: 700;
	color: #285835;
}


.village-logo {
	margin: auto;
	padding-top: 3rem 0 1rem 0;
}



.case-study-title {
	color: #285835;
}

.who-did-this {
	font-weight: 300;
}

.village-section-header {
	color: #285835;
	padding: 2rem 0;
	text-align: center;
	text-transform: capitalize;
	/*header line below 1 of 3 https://www.trysmudford.com/blog/css-header-legend */
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;

}

/*header line below 2 of 3*/
.village-section-header:before,
.village-section-header:after {
	content: '';
	border-top: 2px solid #FFC400;
	margin: 0 10px 0 0;
	flex: 1 0 10px;
}

/*header line below 3 of 3*/
.village-section-header:after {
	margin: 0 0 0 10px;
}



.village-introduction h3 {
	padding: 3rem 0;
	text-align: center;
	line-height: 1.3;
}

.village-introduction h1 {
	text-align: center;
}

.problem-statement {
	font-weight: 700;
	padding: 3rem 0;
	text-align: center;
}


.center-percentages {
	text-align: center;
	padding: 3rem 0 1rem 0;
}

.chart-number {
	color: #285835;
	font-size: 6rem;
	font-weight: 700;
}

.village-chart-explanation {
	text-align: center;
}

.deliverables-list {
	padding: 2rem 0;
}

.deliverables-list h4 {
	padding: 1rem 0;
}

.deliver-one,
.deliver-two,
.deliver-three {
	padding: 2rem 0;
}

.performed {
	font-size: 1.6rem;
	list-style: disc;
	list-style-position: outside;
	padding: .5rem 0;
}

.market-logo {
	/*	padding: 3rem 0 1rem 0;*/
}


.village-what-is-used {
	padding: 1.5rem 0;
}

.village-product-attributes {
	font-size: 1.6rem;
	line-height: 1.2;
	list-style: disc;
	list-style-position: inside;
	padding: .5rem;
}


.village-products {
	padding: 2rem 0;
	text-align: center;
}


.section-thoughts {
	padding: 3rem 0;
	text-decoration-line: underline;
}

.village-market-research h3 {
	padding: 3rem 0;
}

.section-thoughts {
	padding: 3rem 0;
	text-align: center;
}


.village-persona-picture {
	margin: auto;
}

.section-heading {
	font-weight: 700;
	padding: 2rem 0;
}

.village-user-name {
	padding: 2rem 0 1rem;
	color: #285835;
}

.village-who-is-this-persona {
	font-weight: 300;
	font-style: italic;
}

.village-user-research h4 {
	padding: 2rem 0;
	text-align: center;
}

.village-user-personas h5 {
	padding: 2rem 0;
}


.persona-intro {
	padding: 4rem 0;
	text-align: center;
}


.village-persona-one,
.village-persona-two,
.village-persona-three {
	border: .5px solid #AFADAD;
	margin: 2rem 0;
	padding: 0 0 2rem 0;

}


.village-user-sub-section-heading {
	font-weight: 700;
}

.village-deep-dive {
	padding: 5rem 0 3rem 0;
	font-style: italic;
}


.village-process-label {
	padding: 2rem 0;
}

.village-user-flows h3 {
	text-align: center;
	padding: 2rem 0;
}


.village-user-flows h4 {
	text-align: center;
	padding: 2rem 0;
}


.village-lofi-sketch-pictures {
	padding-bottom: 3rem;
}


.village-lofi-whiteboard-pictures {
	padding-bottom: 3rem;

}

.village-lofi-wireframes {
	border: 1px solid #AFADAD;

	margin: 3rem 0;


}

.village-early-stage-wireframes h3 {
	padding: 3rem 0;
}

.village-branding p {
	padding: 1rem 0;
}

.village-branding-individual-section-headers {
	font-weight: 700;
	padding: 3rem 0;
	text-align: center;
}

.village-final-logo-and-name {
	padding: 3rem 0;
}

.branding-results {
	color: #285835;
	font-size: 5rem;
}

.village-seriff-font {
	font-family: 'PT Serif', serif;
	color: #285835;

}

.village-sans-seriff-font {
	font-family: 'Montserrat', sans-serif;
	color: #285835;
}

.village-hifi-individual-section-headers {
	font-weight: 700;
	padding: 3rem 0;
}


.village-hifi-wireframe-mocks {
	border: 1px solid #AFADAD;
	/*	max-height: 37.5rem;*/
	margin: 2rem 0;
	/*	max-width: 81.2rem;*/
}


.village-hifi-testing h3 {
	padding: 2rem 0;
	text-align: center;
}

.village-testing-sub-section-headers {
	font-weight: 700;
	padding: 3rem 0 1rem 0;
}

.village-hifi-testing p {
	padding: 1rem 0;

}

.village-button-transformation-story {
	text-align: center;
}

.new-vs-old-button {
	padding: 2rem 0;
}

.village-folder-text-color-change {
	text-align: center;
}

.new-vs-old-folder {
	padding: 2rem;

}

.village-conclusions p {
	padding: 1rem 0;
}

.village-conclusion-sub-section-headers {
	padding: 2rem 0;
}

.village-conclusions h4 {
	padding: 2rem 0;
}

.conclusion-wrap h4 {
	padding: 2rem 0 .5rem 0;
}

/*VILLAGE MEDIA QUERIES*/


/*VILLAGE MOBILE(REGULAR SETUP) 375width*/

/*VILLAGE TABLET 768*/
@media screen and (min-width: 768px) {

	.village-intro-final-logo {
		text-align: center;
	}

	.village-wireframe-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 3rem;
		text-align: center;
	}

	.village-market-research h3 {
		padding: 4rem 0;
		text-align: center;



	}

	.village-section-header {
		padding: 4rem 0;
	}

	.problem-statement {
		padding: 4rem;
	}

	.deliverables-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.deliver-one,
	.deliver-two,
	.deliver-three {
		max-width: 25rem;
		padding: 0 2rem;
	}


	.market-products {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
		width: 100%;
	}



	.product-one,
	.product-two,
	.product-three {
		border: .5px solid #AFADAD;
		padding: 2rem 1rem;
	}

	.product-three .market-logo {
		padding: 3.5rem 0;
	}


	.village-user-research h4 {
		padding: 5rem 0;
		text-align: center;
	}

	.village-survey-product-needs-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}




	.village-persona-one,
	.village-persona-two,
	.village-persona-three {
		padding: 0 .5rem;
	}

	.village-master-persona-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
		width: 100%;
	}

	.village-persona-one img {
		display: block;
	}

	.village-persona-two img {
		display: block;


	}

	.village-persona-three img {
		display: block;


	}



	.village-flow-images {
		margin: 0 10rem;
		max-width: 70%;
	}

	.village-user-flows h3 {
		padding: 3rem 0;
		text-align: center;
	}

	.village-user-flows h4 {
		text-align: center;
		padding: 4rem 0;
	}

	.village-user-flows p {
		max-width: 50rem;
		padding: 3rem 0;
	}

	.village-early-stage-wireframes h3 {
		padding: 4rem 0;
		text-align: center;
	}

	.village-lofi-text-and-image {}

	.village-early-stage-wireframes {
		display: grid;
	}

	.village-lofi-sketch-to-digital {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		width: 100%;
	}




	.village-lofi-text-and-image {
		text-align: center;
	}

	.village-deep-dive {
		text-align: center;
	}

	.village-branding-individual-section-headers {
		padding: 4rem 0;
		text-align: center;
	}

	.center-percentages p {
		text-align: center;
	}


	.village-final-logo-and-name {
		margin: auto;
		max-width: 20rem;
	}


	.village-hifi-individual-section-headers {
		padding: 4rem 0;
		text-align: center;
	}

	.village-tranformation-story {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}

	.village-hifi-final-landing-grid img {
		max-width: 50%;
		padding: 0 17rem;
	}

	.village-process-label {
		padding: 3rem 0;
		text-align: center;
	}

	.group-hifi-wireframes {
		align-items: flex-start;
		display: grid;
		grid-gap: 5rem;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0 auto;
	}

	.group-hifi-wireframes .village-hifi-wireframe-mocks {
		margin: 6rem 0;
	}

	.village-hifi-final-three-mock-grid {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 3rem 0;
	}

	.village-hifi-final-three-mock-grid .village-process-label {
		padding: 2rem 0 0 0;
	}

	.village-final-hifi-branding-pages img {
		margin: 0 auto;
		max-width: 80%;

	}

	.village-final-hifi-branding-pages {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		padding: 3rem 0;
	}


	.village-conclusion-sub-section-headers {
		padding: 2rem;
		text-align: center;
	}

	.village-conclusion-wrap {
		margin: 0 13rem;
		padding: 2rem 0;
	}

	/*VILLAGE DESKTOP*/
	@media screen and (min-width: 1024px) {


		.village-section-header {
			padding: 5rem 0;
		}

		.village-content-borders {
			margin: 0 10rem;
		}

		.village-button-box {
			padding: 3rem 0;
		}

		.village-projet-overview p {
			padding: 5rem 0;
		}

		.deliverables-list {
			grid-template-columns: 30rem 40rem 30rem;
			margin: 0 16rem;
			padding: 4rem 0;
		}

		.village-market-research h3 {
			padding: 5rem 0;
			margin: auto;
			max-width: 70rem;
		}

		.product-one .product-two .product-three h3 {
			padding: 0;

		}

		.market-logo {
			margin: 0 6rem;
			max-width: 60%;
		}

		.village-process-label {
			padding: 5rem 0;
		}

		.user-flow-grid-one img {
			margin: 0 28rem;
		}

		.user-flow-grid-two img {
			margin: 0 24rem;
		}

		.user-flow-grid-three img {
			margin: 0 32rem;
		}

		.village-dashboard-lofi img {
			max-width: 75%;
		}

		.village-hifi-final-landing-grid img {
			margin: 0 16rem;
			max-width: 55%;
		}

		.village-hifi-wireframe-creation p {
			padding: 4rem 0;
		}

		.village-final-hifi-branding-pages img {
			max-width: 50%;
		}

		.village-branding .village-deep-dive {
			padding: 3rem 0;
		}

		.village-testing-sub-section-headers {
			text-align: center;
		}

		.color-change-explanation {
			text-align: center;
		}

		.village-conclusion-wrap {
			margin: 0 17rem;
		}

		.village-conclusion-sub-section-headers {
			padding: 5rem 0;
		}

	}
