/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*development hack*/
* {
	outline: solid .1rem #ddd;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 

    font-family: 'PT Serif', serif;

    font-family: 'Montserrat', sans-serif;

*/

*:before,
*:after {
	box-sizing: border-box;
}

/*ALL PAGES*/

.container {
	background-color: white;
	display: grid;
	margin: 0 auto;
	width: 100%;
}

html {
	color: #202020;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}


button {
	background-color: #345537;
	border-color: #345537;
	color: #FEF102;
	font-size: 1.8rem;
	line-height: 2.6rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	text-transform: capitalize;
	width: 26.6rem;

}

.button:hover {
	background-color: #1d3c20;
	border-color: rgba(91, 137, 123, 0.38);
	box-shadow: .5rem .5rem .5rem #777777;
	transform: translateY(-5px);
}

h1 {
	color: #202020;
	font-family: 'PT Serif', serif;
	font-size: 4rem;
	font-weight: 700;
	padding-bottom: 2rem;
}

h2 {
	color: #345537;
	font-family: 'PT Serif', serif;
	font-size: 3.6rem;
	font-weight: 700;
	padding-bottom: 3rem;

}

h3 {
	font-family: 'PT Serif', serif;
	font-size: 3rem;
	font-weight: 400;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	line-height: 2rem;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	line-height: 2.5rem;
	max-width: 35rem;
}

li {
	font-size: 1.4rem;
}

img {
	height: auto;
	max-width: 100%;
}

.contact-info {
	/*	align-items: center;*/
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	/*		padding: 4rem 12rem;*/
}


.social-media {
	align-items: center;
	display: grid;
	grid-gap: 5rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.who-we-are {
	align-items: center;
	display: grid;
	grid-gap: 6rem;
	grid-template-columns: 1fr 1fr 1fr;
	font-family: 'PT Serif', serif;
	font-size: 1.4rem;
	padding: 3rem 0;
}



/*LANDING*/

.hero {
	position: relative;
	overflow: hidden;
}

.hero:before {
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	z-index: -1;
	background-image: url(images/hero-colored-pencils.jpg) 0 0 repeat;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*
.hero {
	background-image: url(images/hero-colored-pencils.jpg);
	background-size: cover;
	background-position: right;
	height: 100vh;
}
*/

.logo {
	padding: 4rem 1rem;
}

.hero h1 {
	max-width: 30rem;
	line-height: 1.1;
}

.name-color {
	color: #345537;
	font-size: 4.3rem;
}

.main-content {
	background-color: white;
	display: grid;
	padding: 0 1rem;
}

.main-content img {
	margin: 0;
	padding: 5rem 0rem;

}

.dictionary {
	display: grid;
	grid-template-columns: auto;
}

.dictionary .right-wrap p {
	padding: 1rem 0;
}


.reference {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	font-style: italic;
	line-height: 2rem;
	padding-bottom: 2rem;
	padding-top: 1rem;
	max-width: 35rem;
}

.built-by-parents .text-wrap {
	display: grid;
	grid-gap: 2rem;

}




/*TABLET 768*/
@media screen and (min-width: 768px) {}

/*DESKTOP*/
@media screen and (min-width: 1024px) {

	.dictionary {
		display: grid;
		grid-gap: 5rem;
		grid-template-columns: 1fr 1fr;
		padding: 5rem 0;
	}






	.who-we-are {
		align-content: center;
		font-family: 'PT Serif', serif;
		font-size: 1.4rem;
		display: grid;
		grid-gap: 20rem;
		grid-template-columns: 1fr 1fr 1fr;
		padding-left: 25rem;


	}



	.hero {
		background-image: url(images/hero-colored-pencils.jpg);
		background-size: cover;
		background-position: right;
		height: 100vh;
		width: 100%;

	}

	.hero-content-left {
		padding-left: 12rem;
	}

	.logo {
		padding-top: 5rem;
	}

	.hero h1 {
		max-width: 60rem;
		padding-top: 20rem;
		padding-bottom: 5rem;
	}


	.store-button {
		width: 15rem;
	}

	.main-content {
		padding: 0 12rem;
	}




	.dictionary,
	.right-wrap {
		align-items: center;
	}


	.dictionary h2 {
		color: #345537;
		padding-bottom: 3rem;
		text-align: left;
	}

	.dictionary h4 {
		font-style: italic;
		font-weight: 700;
	}

	.dictionary p {
		padding: 1rem 0;
		line-height: 1.5;
	}

	.prototypes {
		display: grid;
		grid-gap: 5rem;
		grid-template-columns: 1fr 1fr;
		padding: 10rem 0;
	}


	.prototype-text p {
		margin: auto;
		padding: 5rem 0;
	}

	.village-bold {
		color: #345537;
		font-weight: 700;
	}


	.prototype-images {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: auto;
	}

	.prototype-images img {
		width: 30rem;
	}

	.why-is-this-important img {
		padding: 5rem 0;
	}


	.why-is-this-important {
		padding: 5rem 0;
	}

	.why-is-this-important h2 {
		text-align: center;
		padding: 5rem 0;
	}

	.text-wrap {
		display: grid;
		grid-gap: 9rem;
		grid-template-columns: 1fr 1fr;
		margin: auto;
		padding: 5rem 0;
		text-align: left;

	}

	.built-by-parents {
		padding: 5rem 0;
	}


	.built-by-parents img {
		padding: 5rem 0;
	}



	.built-by-parents h2 {
		padding: 5rem 0;
		text-align: center;
	}

	.let-us-help {
		padding: 5rem 0;
	}

	.let-us-help img {
		padding: 5rem 0;
	}


	.let-us-help h2 {
		padding: 5rem 0;
	}

	.let-us-help p {
		padding-bottom: 5rem;
	}

}
