/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*development hack*/
* {
	/*		outline: solid .1rem #ddd;*/
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 

    font-family: 'PT Serif', serif;

    font-family: 'Montserrat', sans-serif;

*/

*:before,
*:after {
	box-sizing: border-box;
}

html {
	color: #202020;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}

.container {
	background-color: white;
	display: grid;
	margin: 0 auto;
}

button {
	background-color: #345537;
	border-color: #345537;
	color: #FEF102;
	font-size: 1.8rem;
	line-height: 2.6rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	text-transform: capitalize;
	width: 26.6rem;

}

.button:hover {
	background-color: #1d3c20;
	border-color: rgba(91, 137, 123, 0.38);
	box-shadow: .5rem .5rem .5rem #777777;
	transform: translateY(-5px);
}

h1 {
	color: #345537;
	font-family: 'PT Serif', serif;
	font-size: 5rem;
	font-weight: 700;
}

h2 {
	color: #345537;
	font-family: 'PT Serif', serif;
	font-size: 4rem;
	font-weight: 700;

}

h3 {
	font-family: 'PT Serif', serif;
	font-size: 3rem;
	font-weight: 400;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	line-height: 2.5rem;
	max-width: 60rem;
}

li {
	font-size: 1.4rem;
}

.reference {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	font-style: italic;
	line-height: 2rem;
	padding: 3rem 0;
}

img {
	height: auto;
	max-width: 100%;
}

.contact-info {
	padding: 4rem 12rem;
	display: flex;
	align-items: center;
}

.social-media {
	align-items: center;
	display: grid;
	grid-gap: 5rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.who-we-are {
	align-content: center;
	font-family: 'PT Serif', serif;
	font-size: 1.4rem;
	display: grid;
	grid-gap: 10rem;
	grid-template-columns: 1fr 1fr;
	padding-left: 10rem;


}

.hero {
	background-image: url(images/hero-colored-pencils.jpg);
	background-size: cover;
	height: 100vh;
	padding-left: 12rem;
	width: 100%;

}


.logo {
	padding-top: 5rem;
}

.hero h1 {
	max-width: 60rem;
	padding-top: 20rem;
	padding-bottom: 5rem;


}


.main-content {
	padding: 0 12rem;
}


.dictionary {
	display: grid;
	grid-gap: 5rem;
	grid-template-columns: 1fr 1fr;
	padding: 5rem 0;
}

.dictionary,
.right-wrap {
	align-items: center;
}


.dictionary h2 {
	color: #345537;
	padding-bottom: 3rem;
	text-align: left;
}

.dictionary h4 {
	font-style: italic;
	font-weight: 700;
}

.dictionary p {
	padding: 1rem 0;
	line-height: 1.5;
}

.why-is-this-important img {
	padding: 5rem 0;
}


.why-is-this-important {
	padding: 5rem 0;
}

.why-is-this-important h2 {
	text-align: center;
	padding: 5rem 0;
}

.text-wrap {
	display: grid;
	grid-gap: 9rem;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	padding: 5rem 0;
	text-align: left;

}

.built-by-parents {
	padding: 5rem 0;
}


.built-by-parents img {
	padding: 5rem 0;

}



.built-by-parents h2 {
	padding: 5rem 0;
	text-align: center;
}

.let-us-help {
	padding: 5rem 0;
}

.let-us-help img {
	padding: 5rem 0;
}


.let-us-help h2 {
	padding: 5rem 0;
}

.let-us-help p {
	padding-bottom: 5rem;
}
