/* PORTFOLIO */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end meyer reset*/


*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: #0e0b06;
  font-size: 10px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  scroll-behavior: smooth;
}

/* ALL PAGES */

.container {
  background-color: #fbfbff;
  display: grid;
  margin: 0 auto;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 2rem;
}

.head-background {
  background-color: #0e0e0e;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 1rem;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

.nav-logo {
  height: auto;
  max-width: 100%;
}

.nav-flex {
  align-items: center;
  display: grid;
  grid-gap: 3rem;
  font-size: 1.2rem;
  grid-template-columns: repeat(1fr, 1fr);
  text-transform: uppercase;
}


.case-study-section-header:before li a {
  color: #f9f8ff;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  text-decoration: none;
}

#top-index a:link {
  color: #f3f3f3;
}

#top-index a:hover {
  color: #429f46;
  text-decoration: underline;
  text-decoration-style: double bold;
}

#top-index a:visited {
  color: #a192f9;
}

#top-index a:link {
  color: #f8f6ff;
}

#top-design-reads a:link {
  color: #f8f6ff;
}

#top-design-reads a:hover {
  color: #429f46;
  text-decoration: underline;
  text-decoration-style: double bold;
}

#top-design-reads a:visited {
  color: #a192f9;
}

#top-cms a:link {
  color: #f8f6ff;
}

#top-cms a:hover {
  color: #429f46;
  text-decoration: underline;
  text-decoration-style: double bold;
}

#top-cms a:visited {
  color: #a192f9;
}

.to-top {
  text-align: center;
  padding: 3rem;
}

.to-top a:hover {
  color: #429f46;
  text-decoration: underline;
}

.to-top a:link {
  color: #2400b4;
  text-decoration: none;
}

.hand-coding {
  padding: 0rem;
}

.hand-code {
  text-align: center;
  color: #3f3f3f;
  padding: 0rem;
}

/*MOBILE GENERAL TEXT*/

h1 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 4.4rem;
  font-weight: 300;
}

h2 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: capitalize;
}

h3 {
  font-family: "IBM Plex Serif", serif;
  font-size: 2.6rem;
  text-transform: capitalize;
}

h4 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

h5 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.6rem;
}

h6 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.4rem;
}

p {
  color: #3f3f3f;
  font-family: "IBM Plex Serif", serif;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 80rem;
  text-align: left;
}

li {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  padding-top: 1rem;
}

.external-site {
  font-family: "IBM Plex Serif", serif;
  font-size: 1.8rem;
  text-decoration: none;
}

/*IMAGES*/
img {
  height: auto;
  max-width: 100%;
}

/*removed select ux padding from here and moved to individual case study*/
.hero, .hand-codin.cms-overview, .cms-initial-research, .cms-problem, .cms-problem-solved, .cms-end-result, .cms-hifi{
  padding: 2rem;
}

.design-reads-hero, .project-introduction, .case-study-problem-and-solution, .dicovery, .case-study-competitve-analysis, .case-study-user-research, .case-study-survey-results, .survey-data, .white, .body-container .storyboarding, .information-architecture, .case-study-user-stories, .case-study-user-flows, .case-study-lo-fidelity-wireframes, .case-study-mid-fidelity-wireframes, .case-study-testing-results, .iteration-flex, .visual-design, .case-study-title, .case-study-hi-fidelity-wireframes, .final-design, .case-study-final-prototype, .case-study-conclusion {
  padding: 2rem;
}

.select-ux-projects {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/*BUTTONS*/


.button {
  background-color: #dbd7f2;
  border: solid;
  border-color: #dbd7f2;
  border-radius: 2rem;
  color: #0e0b06;
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  outline: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  width: 26.6rem;
}

.button:hover {
  background-color: #c5e1f3;
  border-color: #c5e1f3;
  color: #0e0b06;
  outline: none;
}


/*FOOTER*/

footer {
  background-color: #0e0e0e;
}

.contact-info {
  align-items: center;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 0;
  text-align: center;
}

/* 404 error */

.error-grid {
  align-items: center;
  display: grid;
}
.error-header {
  color: #006604;
  padding: 3rem;
  text-align: center;
}
.obi-wan {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.not-the-page {
  padding: 3rem 2rem;
}

.not-the-page a:visited {
  color: #a192f9;
  text-transform: uppercase;
}

.not-the-page a:hover {
  color: #429f46;
  font-weight: 700;
  text-decoration: none;
}

.move-along {
  padding: 3rem 0rem;
  text-align: center;
}


/*LANDING PAGE*/

/*2025 UPDATES*/
/*LANDING PAGE UPDATES*/

.upcoming-work{
  background-color: #0e0e0e;
  padding-left: 2rem;
  padding-top: 12rem;
  padding-right: 2rem;
  padding-bottom: 12rem;
}

.project-landing-text p{
  color: #0e0e0e;
}

.project-landing-text h3 {
  color: #0e0e0e;
}

.project-landing-text h4{
  color: #0e0e0e;
}

.hero-wrap p{
  color: #0e0b06;
}

.upcoming-work h2{
  color: #acacac;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5rem;
}

.upcoming-work h3{
  color: #acacac;
  text-align: center;
}

.text-and-image-box{
  display: flex;
  flex-direction: column;
}

.text-group{
  max-width: 58.4rem;
}

/* adding coming soon case study */
.case-study-in-progress{
  background-color: #302f3a;
  padding: 4rem;
}
.case-study-in-progress .text-group{
  margin: auto;
  text-align: center;
  max-width: 50rem;
}

.case-study-in-progress h3{
  color: #ebe8f8;
  padding-bottom: 2rem;
}

.case-study-in-progress h4{
  color: #c5e1f3;
  padding-bottom: 2rem;
}

.case-study-in-progress h5{
  color: #c5e1f3;
  padding-bottom: 2rem;
}

.case-study-in-progress p{
  color: #c5e1f3;
  padding-bottom: 2rem;
}

.case-study-in-progress .text-group .description{
  text-align: center;
}

/* Adding Coming Soon */
.coming-soon{
  text-align: center;
  padding: 4rem;
}

.coming-soon h4{
  color:  #ebe8f8;
}

.case-study-in-progress{
  text-align: center;
}
.test-case-studies {
  background-color: #0e0b06;
}
.individual-landing-box {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-me{
  background-color: #0e0e0e;
}

/*2025 mobile about me section padding fix */
.text-and-image-box{
  padding-left: 2rem;
  padding-right: 2rem;
}

.about-me h2{
color: #afadad;
}

.about-me h3{
  color: #afadad;
  }
  
.about-me p{
  color: #afadad;
}


/* 2025 added greyscale for image */
#bunk{
  border-radius: 50%;
  margin: auto;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

.image-group{
margin: auto;
max-height: 30rem;
max-width: 30rem;
}

.hand-coding{
  padding: 4rem 0;
}

.landing-section-header h2 {
  color: #afafaf; 
}

.about-me h2{
  padding-bottom: 2rem;
}

.about-me p{
  padding-bottom: 4rem;
}

/*TEST PAGE*/

/* 2025 CASE STUDIES */
/* DEVPORTAL */
/*desktop*/

.case-study-container-developerportal{
 background-color: #f0f0f0;
}

.case-study-hero{
padding: 4rem 12rem;
}


.project-overview, .project-parameters, .project-research, .project-user-flows, .project-ux-designs, .project-design-system, .project-handoff-and-support, .project-reflections {
  padding: 4rem 12rem;
  border-top: #acacac;
  border-style: solid;
  border-width: .5rem;
}

.project-problem {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.project-timelines, .project-requirements, .design-deliverables{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-and-list h3{
  padding-bottom: 2rem;
}

.header-and-text h2, h3{
  padding-bottom: 2rem;
}

.header-and-list li{
  padding-left: 2rem;
}

.header-and-text p{
  padding-left: 2rem;
}

.project-problem, .project-challenge, .project-parameters, .project-comp-analysis, .project-user-research{
padding-top: 4rem;
}

/* moved l/r padding here instead of select ux projects*/
.cms-landing-grid,
.design-reads-landing-grid, 
.portal-design-system-landing-grid,
.valorant-beta-landing-grid {
  padding-top: 3rem;
  margin-left: 2rem;
 margin-right: 2rem;
}



.portal-design-system-landing-grid{
  border-bottom-style: solid;
  border-width: .2rem;
  border-color: #302f3a;
}

.valorant-beta-landing-grid{
  border-bottom-style: solid;
  border-width: .2rem;
  border-color: #302f3a;
}

.cms-landing-grid{
  border-bottom-style: solid;
  border-width: .2rem;
  border-color: #302f3a;
}

.portal-design-system-landing-grid .project-landing-text h4{
  text-decoration: none;
}
.portal-design-system-landing-grid .project-landing-text .project-link p {
color: #d60b0b;
text-transform: uppercase;
}

.project-landing-text p{
  padding-top: 1rem;
}

.valorant-beta-landing-grid .project-landing-text h4{
  text-decoration: none;
}
.valorant-beta-landing-grid .project-landing-text .project-link p {
  color: #d60b0b;
  text-transform: uppercase;
  }


.project-landing-text {
  padding: 3rem 0;
}

.project-landing-text h3 {
  padding-bottom: 1rem;
}

.project-landing-text h4 {
  padding-top: 2rem;
  text-decoration: underline;
}

.project-link {
  padding-top: 4rem;
}

.project-landing-text li {
  font-weight: 300;
}
/*Changed background size*/
.project-landing-image {
  background-position: center center;
  /* background-size: cover; */
  background-size: 100% auto;
  height: 30rem;
}

.portal-design-system-landing-grid .project-landing-image{
  background-image: url(../Images/portal-design-system-cover.webp);
}

.design-reads-landing-grid .project-landing-image {
  background-image: url(../Images/design-reads-landing-2021.webp);
}

.cms-landing-grid .project-landing-image {
  background-image: url(../Images/cms-desktop-frame-light-background.webp);
}

.portal-design-system-landing-grid .project-landing-image {
  background-image: url(../Images/portal-design-system-cover.webp);
}
/* Add Val beta image*/
.valorant-beta-landing-grid .project-landing-image{
  background-image: url(../Images/val-console-beta-landing.webp);
}

.landing-background {
  background-color: #f4f2fb;
}

.hero {
  background-color: #dbd7f2;
  padding-bottom: 4rem;
}

.hero-wrap {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1rem;
}

.hero-wrap p {
  padding-top: 2rem;
  margin: 0;
}

#introduction {
  color: #0e0b06;
  font-size: 3.2rem;
  line-height: 1.4;
  padding: 2rem 0;
}

.colored-name {
  color: #0000b5;
  font-size: 4.4rem;
  text-transform: uppercase;
}

.text-emphasis {
  color: #0e0b06;
  font-weight: 600;
}

.italics {
  color: #0000b5;
  font-style: italic;
  text-decoration-skip-ink: none;
  text-decoration-color: #0000b5;
}

.recent-work {
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
}

.blue-background {
  background-color: #ebe8f8;
  border: #3f1fbd 0.2rem solid;
  margin: 3rem auto;
  padding: 0 2rem;
  max-width: 37.5rem;
}

.favicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-link p {
  color: #600090;
  text-align: center;
}

.blue-background p {
  color: #302f3a;
}

.blue-background h3 {
  letter-spacing: 0.4rem;
  padding: 3rem 0;
  text-align: center;
}

.design-reads-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-logline {
  color: #0e0b06;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: left;
}

.project-business-arena {
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.spotify-playlist {
  padding: 3rem;
  text-align: center;
}

.music-header {
  color: #0e0e0e;
  text-align: center;
  padding: 1rem 0;
}

.music-text {
  color: #3f3f3f;
  line-height: 3rem;
  padding: 2rem;
  max-width: 48rem;
  text-align: center;
}

/* CASE STUDY*/

/*RECURRING*/

.landing-pages {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.landing-page-conversation {
  padding: 1rem 0;
}

.landing-options {
  grid-template-columns: auto;
  padding: 4rem;
}

.dashboard-organization {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem;
}

.organization-wireframes {
  margin: auto;
  padding-bottom: 2rem;
}

.user-request-conversation {
  padding: 1rem 0;
}

.dashboard-organization-conversation {
  padding: 1rem 0;
}

.project-conclusion-text {
  padding: 1rem 0;
}

/* also used in design reads */

.project-introduction h3 {
  padding: 2rem 0;
  text-align: center;
  line-height: 1.3;
}
/* used in design reads */

.project-introduction h1 {
  text-align: center;
}

/* CINEMA MAKE UP SCHOOL REDESIGN - MOBILE */

.cms-content-borders {
  margin: auto;
  max-width: 80%;
}
.cms-logo {
  padding: 2rem 0;
  text-align: center;
}

.cms-overview {
  padding: 2rem 0;
}
.cms-numbered-header {
  color: #3f1fbd;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.cms-overview-header {
  justify-content: center;
  padding: 3rem 0;
  text-align: center;
  text-transform: capitalize;
  /*header line below 1 of 3 https://www.trysmudford.com/blog/css-header-legend */
  width: 100%;
}

#cms-case-study-title {
  color: #0e0b06;
  padding: 2rem 0;
  text-align: center;
}

.cms-questions {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  /*header line below 1 of 3 https://www.trysmudford.com/blog/css-header-legend */
  width: 100%;
}

/*header line below 3 of 3*/
.cms-questions:after {
  margin: 0 0 0 10px;
}

.cms-deliverable {
  padding: 2rem 0;
}

.cms-wireframe-label {
  font-weight: 700;
  text-align: center;
}
.cms-data {
  font-style: italic;
  text-decoration: underline;
}

.cms-deliverable h3 {
  text-decoration: underline;
}

.cms-list-answers {
  font-size: 1.8rem;
  list-style-type: disc;
  list-style: outside;
  padding: 1rem 0;
}

.cms-problem p {
  padding: 0 0 1rem;
}

.cms-problem-solved p {
  padding: 1rem 0;
}

.cms-end-result p {
  padding: 1rem 0;
}

.cms-sub-header {
  font-weight: 700;
  padding: 3rem 0 1rem;
  font-style: italic;
}

.cms-wireframes {
  border: 0.5px solid #afadad;
  margin: 3rem 0;
}

.final-mock-and-label h6 {
  font-weight: 700;
  padding-top: 2rem;
  text-align: center;
}

/* DESIGN READS MOBILE */

.design-reads-content-borders {
  max-width: 80%;
  margin: auto;
}

.design-reads-hero {
  padding: 0 0 2rem;
}

#design-reads-case-study-title {
  color: #34797e;
  line-height: 1.3;
  padding-bottom: 1rem;
  text-align: center;
}

.pronunciation {
  font-style: italic;
  font-weight: 700;
  padding-bottom: 2rem;
  text-align: center;
}

b {
  font-weight: 700;
}

.btn-prototype {
  background-color: white;
  border: 2px solid #34797e;
  border-radius: 2px;
  color: #34797e;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 4rem;
  padding: 1rem 4.1rem;
}

.ux-section {
  color: #34797e;
  font-weight: 700;
  letter-spacing: 1rem;
  padding: 2rem 0 2rem;
  text-align: center;
}

.btn:hover {
  background-color: #4148c5;
  color: white;
}

.dr-storyboard {
  padding: 2rem 0;
}

.case-study-section-header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;
  text-transform: capitalize;
  /*header line below 1 of 3 https://www.trysmudford.com/blog/css-header-legend */
  width: 100%;
}

/*header line below 2 of 3*/
.case-study-section-header:before,
.case-study-section-header:after {
  content: "";
  border-top: 1rem solid #34797e;
  margin: 0 1rem 0 0;
  flex: 1 0 1rem;
}

/*header line below 3 of 3*/
.case-study-section-header:after {
  margin: 0 0 0 1rem;
}

.case-study-competitve-analysis h3 {
  text-transform: uppercase;
}
.case-study-user-research h3 {
  text-transform: uppercase;
}

.case-study-lo-fidelity-wireframes h3 {
  text-transform: uppercase;
}

.case-study-hi-fidelity-wireframes h3 {
  text-transform: uppercase;
}

.case-study-problem-statement {
  font-weight: 300;
  padding: 4rem 0;
  text-align: center;
  text-transform: uppercase;
}

nav-links {
  font-size: 1.4rem;
  padding: 1rem 0;
  text-transform: lowercase;
}

.nav-links a:link {
  color: #0080a5;
  text-decoration: none;
}

.nav-links a:visited {
  color: #a192f9;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: #429f46;
  font-weight: 700;
  text-decoration: none;
}

.deliverables-list h3 {
  padding: 2rem 0;
  text-decoration: underline;
}

.center {
  text-align: center;
}
/* used in dr */
.roles,
.responsibilities,
.tools,
.duration {
  margin: auto;
  text-align: center;
}

.detail {
  padding: 2rem 0;
}


/* used in dr */
.dr-links {
  color: #4148c5;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 5.5rem;
}

/* used in dr */

.case-study-market-products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.survey-data {
  padding: 1rem 0;
}


/* used in dr */
.inline {
  display: inline;
  line-height: 1.4;
  padding: 0.5rem;
}

/* used in dr */
.quote {
  padding: 1rem 0;
}

.persona {
  text-align: center;
}

.persona .center {
  padding: 2rem 0;
}

.persona h5 {
  font-weight: 700;
  padding-top: 2rem;
}

.goals-list,
.frustrations {
  line-height: 2.5rem;
  list-style: unset;
  text-align: left;
}

.goals,
.frustrations,
.motivations {
  padding: 0 1rem;
}

.characteristic {
  padding-top: 2rem;
}

.dr-user-flow {
  padding-top: 2rem;
}

.who-did-this {
  letter-spacing: 0.5rem;
  text-align: center;
}

.project-duration {
  padding: 2rem 0;
  text-align: center;
}

.section-header {
  padding: 2rem 0 1rem;
}

.dr-sketches {
  padding: 2rem 0;
}

.dr-lowfi {
  margin: 2rem 0;
}

.case-study-mid-fidelity-wireframes .dr-lowfi {
  border: 1px solid #3f3f3f;
}

.iteration-flex h4 {
  padding: 5rem 0 2rem;
}

.style-tile {
  padding: 2rem 0;
}

.dr-hifi {
  margin: 2rem 0;
}

.discovery,
.information-architecture,
.visual-design {
  padding: 0;
}

/*2025 CASE STUDY SECTIONS - MOBILE*/
.case-study-overview, 
.project-problem-statement, 
.project-audience, 
.project-roles, 
.project-scope, 
.project-process-overview, 
.project-overview-outcomes, 
.project-my-workflow {
  border-bottom-style: solid;
  border-width: .2rem;
  border-color: #302f3a;
  padding: 2rem 1rem;
}

.case-study-spacer{
  margin: auto;
  max-width: 95%;
}

.case-study-overview h1{
  padding-bottom: 2rem;
}

.project-problem-statement,
.case-study-overview,
.project-audience,
.project-roles,
.project-scope
.project-process-overview,
.project-overview-outcomes,
.project-my-workflow, h2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}


.project-problem-statement,
.case-study-overview,
.project-audience,
.project-roles,
.project-scope,
.project-process-overview,
.project-overview-outcomes,
.project-my-workflow, h4 {
  padding-bottom: 1rem;
}

.project-problem-statement,
.case-study-overview,
.project-audience,
.project-roles,
.project-scope,
.project-process-overview,
.project-overview-outcomes,
.project-my-workflow, p {
  padding-bottom: 1rem;
}


.case-study-overview h4{
  color: #1c128e;
}
.project-problem-statement h4{
  color: #1c128e;
}
.project-audience h4{
  color: #1c128e;
}
.project-roles h4{
  color: #1c128e;
}
.project-scope h4{
  color: #1c128e;
}
.project-process-overview h4 {
  color: #1c128e;
}

.project-problem-statement h3{
  border-left: solid .4rem #1c128e;
  height: 3rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
} 

.project-audience h3{
  border-left: solid .4rem #1c128e;
  height: 3rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
} 


.project-roles h3{
  border-left: solid .4rem #1c128e;
  height: 3rem;
  line-height: 4rem;
  padding-left: 1rem;
} 

.roles-flex{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 4rem;
}

.roles-flex div{
  padding-top: rem;
}

.project-scope h3{
  border-left: solid .4rem #1c128e;
  height: 3rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
} 
.project-process-overview h3{
  border-left: solid .4rem #1c128e;
  height: 3rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
} 

.project-process-overview h4{
  padding-top: 4rem;
}

.show-and-tell-flex{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 4rem;
}

.project-overview-outcomes h3{
  border-left-style: solid;
  border-width: .4rem;
  border-color: #1c128e;
  line-height: 2rem;
  padding-left: 1rem;
} 

.project-my-workflow h3 {
  border-left-style: solid;
  border-width: .4rem;
  border-color: #1c128e;
  line-height: 2rem;
  padding-left: 1rem;
}


/*Case Study Div Content*/



/*MOBILE ABOVE 375width*/

/*MEDIA QUERIES*/

/*Tablet Responsive Group*/
/*TABLET 768*/
@media screen and (min-width: 768px) {
  /*GLOBAL*/

  header {
    padding: 2rem 6rem;
  }


  .nav-flex {
    font-size: 1.6rem;
  }

  /* used in footer */
  .contact-info {
    grid-gap: 15rem;
  }

  /* 404 */
  .error-header {
    padding: 5rem;
  }
  .obi-wan {
    padding: 5rem;
    width: 25rem;
  }

  .not-the-page {
    text-align: center;
    padding: 5rem;
  }

  .move-along {
    padding: 5rem;
  }


  /* Landing Page 2025 */
 

  .hero-wrap {
  padding-left: 4rem;
  padding-right: 4rem;
  }

  .portal-design-system-landing-grid {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .valorant-beta-landing-grid{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
  }

  .cms-landing-grid {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .design-reads-landing-grid {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .project-landing-text {
    padding: 0 2rem;
    width: 45%;
  }




  .project-landing-image {
    padding: 0 2rem;
    width: 55%;
  }


  .design-reads-landing-grid .project-landing-image {
    height: 40rem;
  }

  .cms-landing-grid .project-landing-image {
    height: 45rem;
  }

  .portal-design-system-landing-grid .project-landing-image{
    height: 40rem;
  }

  .valorant-beta-landing-grid .project-landing-image{
    height: 40rem;
  }

  #introduction {
    font-size: 3.7rem;
    line-height: 1.2;
  }

  .colored-name {
    font-size: 4.7rem;
  }

  .project-wrap {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    max-width: 64rem;
  }


  /* 2025 TABLET LANDING UPDATES */
  /* about me spacing*/
  .text-and-image-box{
   margin: auto;
    max-width: 80%;
  }

  /* end 2025 landing updates */


  /*	recurring */

  .section-navigation {
    grid-template-columns: repeat(5, 1fr);
  }


  /*2025 CASE STUDY SECTIONS -TABLET*/
  .case-study-overview, 
.project-problem-statement, 
.project-audience, 
.project-roles, 
.project-scope, 
.project-process-overview, 
.project-overview-outcomes, 
.project-my-workflow{
  padding: 2rem;
}

.case-study-spacer{
  max-width: 90%;
}



/* Portal Design System */
.roles-flex{
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3rem;
}

.roles-flex div{
  max-width: 33%;
}


  /* CINEMA MAKEUP SCHOOL TABLET*/

  #top-cms {
    padding: 2rem 6rem;
  }
  .cms-logo {
    display: block;
    margin: auto;
  }

  .cms-existing-wireframes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cms-deliverable-grid {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
  }

  .cms-deliverable {
    padding: 5rem 0;
  }

  .existing-mobile,
  .existing-desktop {
    margin: 2rem;
  }

  .cms-questions {
    padding: 3rem 0;
  }

  .cms-wireframes {
    display: block;
    margin: 3rem auto;
  }

  /* DESIGN READS TABLET */

  .dr-case-study-content-borders {
    padding: 0 5rem;
  }

  .roles-duration {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .roles,
  .duration,
  .tools {
    height: 50%;
  }

  .dr-button-box {
    text-align: center;
  }

  .dr-links-box {
    padding: 3rem 0;
    text-align: center;
  }

  .case-study-survey-results h3 {
    text-align: center;
  }
  .survey-data {
    padding: 0 10rem 4rem;
    text-align: center;
  }

  .case-study-mid-fidelity-wireframes,
  .case-study-testing-results {
    text-align: center;
  }

  .case-study-mid-fidelity-wireframes,
  .case-study-testing-results p {
    padding: 2rem 0;
    text-align: center;
  }

  .case-study-style-tile {
    text-align: center;
  }

  .case-study-hi-fidelity-wireframes {
    text-align: center;
  }

  .dr-hifi {
    padding-top: 2rem;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {

/* 2025 Landing */
/* about me desktop spacing */
.text-and-image-box{
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.text-group{
  max-width: 50%;
}

/* 2025 landing updates end */

  /*	GLOBAL*/

  #top-index,
  #top-cms,
  .top-design-reads {
    max-width: 120rem;
  }

  .hero-wrap {
    max-width: 58rem;
    margin: auto;
  }

  .case-study-content-borders,
  .cms-content-borders,
  .dr-case-study-content-borders {
    max-width: 144rem;
    margin: auto;
  }
 
  .design-reads-landing-grid,
  .cms-landing-grid, 
  .portal-design-system-landing-grid,
  .valorant-beta-landing-grid {
    max-width: 120rem;
    margin: auto;
  }

  .design-reads-landing-grid .project-landing-text {
    padding-left: 10rem;
  }
  
  .project-landing-image {
    width: 45%;
    height: 50rem;
  }

  .project-landing-text {
    width: 45%;
  }

  .hand-coding {
    padding: 5rem 0;
  }

  .case-study {
    margin: auto;
    max-width: 140rem;
  }

  header {
    padding: 2rem 10rem;
    max-width: 130rem;
  }

  .contact-info {
    grid-gap: 29rem;
    margin: auto;
    max-width: 130rem;
  }

  .nav-flex {
    font-size: 1.8rem;
    grid-gap: 3rem;
  }


  .hero-wrap p {
    margin: 0;
  }


  #introduction {
    font-size: 4.4rem;
  }

  .colored-name {
    font-size: 7rem;
  }

  .music-text {
    max-width: 60rem;
  }

  /*	recurring*/
  .case-explanation {
    margin: auto;
  }

  .section-navigation {
    grid-template-columns: repeat(10, 1fr);
    padding-top: 10rem;
  }

  /*2025 CASE STUDY SECTIONS - DESKTOP*/
  .case-study-overview, 
  .project-problem-statement, 
  .project-audience, 
  .project-roles, 
  .project-scope, 
  .project-process-overview, 
  .project-overview-outcomes, 
  .project-my-workflow{
  padding: 6rem;
    max-width: 120rem;
    margin: auto;
  }


.roles-flex{
  margin: auto;
  max-width: 80rem;
}

  .case-study-overview h1{
    margin: 0 auto;
    max-width: 80rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .project-problem-statement h2{
    padding-bottom: 2rem;
  }

  .project-roles h2{
    padding-bottom: 2rem;
    
  }

  .project-problem-statement h2, h3{
    margin: 0 auto;
    max-width: 80rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .project-audience h2, h3{
    margin: 0 auto;
    max-width: 80rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .project-roles h2, h3{
    margin: 0 auto;
    max-width: 80rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

  }
  .project-scope h2, h3{
    margin: 0 auto;
    max-width: 80rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .project-roles li{
    margin: 0 auto;
    max-width: 80rem;
  }
  .project-process-overview h2, h3{
    margin: 0 auto;
    max-width: 80rem;padding-top: 2rem;
    padding-bottom: 2rem;

  } 
  .project-overview-outcomes h2, h3{
    margin: 0 auto;
    max-width: 80rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  } 
  .project-my-workflow h2, h3{
    margin: 0 auto;
    max-width: 80rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

 


  .show-and-tell-flex {
    align-items: center;
flex-direction: row;
justify-content: space-evenly;
margin-left: 5rem;
margin-right: 5rem;
padding-top: 3rem;
padding-bottom: 3rem;
max-width: 120rem;
  }

  .tell{
    max-width: 30%;
  }
  .show{
    max-width: 40%;
  }


  /* CINEMA MAKEUP SCHOOL DESKTOP */

  #top-cms {
    padding: 2rem 12rem;
    max-width: 140rem;
  }

  .cms-content-borders {
    max-width: 140rem;
  }

  .cms-deliverable-grid {
    margin: 0 8rem;
  }

  .cms-sub-sections {
    margin: 0 auto;
    max-width: 80rem;
  }

  /* DESIGN READS DESKTOP */

  #top-design-reads {
    max-width: 140rem;
  }

  .dr-case-study-content-borders {
    padding: 0 30rem;
  }
  .dr-case-study-content-borders .project-introduction {
    padding: 0;
  }
}
