/*Portfolio CSS */


/* FONT LABELING
    font-family: 'Major Mono Display', monospace;
    font-family: 'Zilla Slab', serif;
    font-family: 'Zilla Slab Highlight', cursive; */

/* Colors - #B30000 (main red)
            #0E0B06 (off black for most text)
            #A6E6FC (background blue)*/

/*Grid should 9 columns for desktop and 3 for mobile*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* ALL PAGES */


body {
    background-color: #ebe9ac;
    margin: auto 0;

}

.container {
    background-color: white;
    margin: 0 auto;
    width: 132rem;
}

/*Landing Page*/
.hero {
    margin-top: 1rem;
}

.introduction {
    font-family: 'Zilla Slab', serif;
}

.designer-text-large {
    font-family: 'Major Mono Display', monospace;
    font-size: 7rem;
}


section {
    padding: 10rem 0;
}

/*

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 2.5rem;

}

.navbar {
    width: 200rem;

}
*/
