/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*development hack*/
*{
	outline: solid .1rem #ddd;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end meyer reset*/

/*PLACE MDL STYLES HERE */

/*GOOGLE FONTS*/
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Zilla+Slab" rel="stylesheet">

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

/* ALL PAGES */


body {
	background-color: #ebe9ac;
	margin: auto 0;
	width: 100%;

}

.container {
	background-color: white;
	display: grid;
	margin: 0 auto;

}


.nav-flex {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

.navbar {
	font-family: 'Zilla Slab', serif;
	font-size: 2.6rem;
	font-weight: 500;
	height: 6rem;
	line-height: 3.7rem;
	text-transform: uppercase;
}


/*GENERAL TEXT*/
p {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 3rem;
	font-style: normal;
	font-weight: normal;
	line-height: 4.1rem;

}


/*IMAGES*/
img{
	height: auto;
	max-width: 100%;
	
}


/*Landing Page*/

.hero-wrap{
	display: flex;
	grid-template-columns: 2fr, 1fr;
	margin: auto 0;
}

.hero {
	background-image: url(../images/landing-hero-image.jpg);
	background-size: cover;
	margin: 0;

}

.introduction {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 4.8rem;
}

.designer-text-big {
	color: #0E0B06;
	font-size: 7rem;
	font-family: 'Major Mono Display', monospace;
	font-weight: normal;
	line-height: 8.4rem;
	text-transform: uppercase;

}

.designer-text-small {
	color: #0E0B06;
	font-family: 'Major Mono Display', monospace;
	font-size: 4.8rem;
	font-style: normal;
	line-height: 6.9rem;
	text-transform: lowercase;
}

.bunk {
	border-radius: 50%;
}

.project-wrap{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;

}
.left-wrap{
	margin: auto;
}

.right-wrap{
	margin:auto;
	padding-right: 10rem;
}




/*Landing Page Project Sections*/


section {
	padding-top: 10em;
	padding-bottom: 10rem;
}

.recent-work {
	text-align: center;
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 3.6rem;
	padding-bottom: 2.5rem;
	text-decoration: underline;
	text-transform: uppercase;
}

.project-name {
	color: #B30000;
	font-family: 'Zilla Slab', serif;
	font-size: 5rem;
	font-weight: 500;
	line-height: 7.2rem;
}

.project-explanation {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
}

.prototype{
/* outside border*/
	box-shadow: 0 0 2rem #777777;
}

.two, .four, .six, .eight, .ten, .twelve {
	background-color: #A6E6FC;
}

/*PROJECT CASE STUDY PAGES*/

.deliverables-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.content-conclusions{
	color: #B30000;
	font-family: 'Zilla Slab', serif;
	font-size: 3.2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 4.6rem;
	text-transform: lowercase;
}

.section-header {
	color: #B30000;
	font-family: 'Major Mono Display', monospace;
	font-size: 4rem;
	padding-bottom: 2rem;;
	text-transform: lowercase;
}

.section-questions {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 3.2rem;
	font-weight: 500;
	padding-bottom: 5rem;
	text-transform: lowercase;
}

.twelve > .section-questions{
	padding-top: 5rem;
}

.body-list-headers {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 2.8rem;
	font-weight: semi bold;
}

.list-answers{
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: normal;
	line-height: 3.5rem;
}

.performed {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 2.4rem;
	line-height: 120%;

}

.products {
	color: #0e0b06;
	font-family: 'Zilla Slab', serif;
	font-size: 3rem;
	font-weight: 500;
}

.market-products{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	margin: 0 auto;
}


.persona-wrap{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	grid-gap: 3rem;
	justify-content: space-around;
	
}

.persona-one .persona-two .persona-three{
	box-shadow: inset 0 0 10px #777777;

}

.persona-name{
	color: #B30000;
	font-family: 'Zilla Slab', serif;
	font-size: 3rem;
	font-weight: 500;
	line-height: 4.3rem;
	text-transform: capitalize;
	
}

.persona-text{
		color: #0e0b06;
	font-family: 'Zilla Slab', serif;
	font-style: normal;
	font-size: 2.4rem;
	font-weight: normal;
	line-height: 3.7rem;
}



.charts {
	width: 75%;
}

.sitemap{
	box-shadow: inset 0 0 10rem #777777;
	margin-top: 2rem;
}
.picture-explanation {
	font-weight: 500;
	text-transform: uppercase;
}

.wireframe-labels{
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 3rem;
	font-style: normal;
	font-weight: 500;
	line-height: 4.3rem;
	text-align: center;
	text-transform: capitalize;
}

.button-center{
	text-align: center;
	
}

.image-center{
	display: grid;
	grid-template-columns: auto;
}
.wireframes{
	box-shadow: inset 0 0 10px #777777;
}

.flow-charts{
	display: block;
	border: .1rem solid black;
	margin-left: auto;
	margin-right: auto;
}

.lofi-wireframes{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	margin: 0 auto;
}




/*BIOGRAPHY */

.bio-center{
	display: grid;
	margin-left: 10%;
	margin-right: 10%;
}

.icon-text-designer{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}


.text-center{
	margin-left: 13%
}
.designer{
	margin-right: 7%;
	
}
.icon-text{
	display: flex;
}

.about-me {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 3rem;
	font-style: normal;
	font-weight: 500;
	line-height: 4.3px;
	margin-bottom: 4.8rem;
}

.bio-question-red{
	display: flex
	flex-grow: 2;
}


.school{
	display: flex;
	justify-content: center;

}


.golf-group {
	display: block;
	margin: auto;
}

.designer .storyboard .frustrated .chaplin .privacy {
	
}

.bio-question-red {
	color: #B30000;
	font-family: 'Zilla Slab', serif;
	font-size: 4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 5.8rem;
	text-transform: capitalize;

}

.bio-question-black {
	color: #0e0b06;
	font-family: 'Zilla Slab', serif;
	font-size: 4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 5.8rem;
	text-transform: capitalize;
}

.mini-subhead {
	font-family: 'Zilla Slab', serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 43px;
}

.bio-italics {
	font-family: 'Zilla Slab', serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 600;
	line-height: 4.3rem;
}
 
.icon-text{
	
}

.privacy-icon-text{
	display:  inline-grid;
	text-align: center;
	
}

/*Button Sizes*/

#button {
	background-color: #B30000;
	border-color: #B30000;
	border-radius: 4rem;
	box-shadow: .5rem .5rem .5rem #777777;
	color: white;
	font-family: 'Zilla Slab', serif;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 600;
	height: 4.4rem;
	line-height: 2.6rem;
	margin-top: 3.5rem;
	text-align: center;
	text-transform: uppercase;
	width: 26.6rem;
}

footer {
	background-color: #B30000;
	display: flex;
	flex-direction: column;
}



/*MEDIA QUERIES*/
/*

@media screen and (min-width 768px) {
    .container {
        margin: 0 auto;
        width: 70rem;
    }
}
*/


/*PHONE*/
