/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*development hack*/
* {
	/*	outline: solid .1rem #ddd;*/
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end meyer reset*/

/*PLACE MDL STYLES HERE */

/*PLACE FONT AWESOME HERE*/

/*GOOGLE FONTS*/
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Zilla+Slab"rel="stylesheet" > *:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

/* ALL PAGES */


/ .container {
	background-color: white;
	display: grid;
	margin: 0 auto;
	width: 100%;
}


header {
	display: flex;
}


.nav-flex {
	align-items: center;
	display: grid;
	font-family: 'Zilla Slab', serif;
	font-size: 1.2rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
	padding-left: 5rem;
	text-align: center;
	text-transform: uppercase;
	width: auto;

}

header li a {
	color: #B30000;
}

.nav-logo {
	padding-left: 2rem;
}

li .nav-contact {
	color: #B30000;
}

.nav-bio {}

.nav-resume {}


/*GENERAL TEXT*/
p {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 1.8rem;
	line-height: 2.6rem;
	padding-left: 3%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 3%;
}


/*IMAGES*/
img {
	height: auto;
	max-width: 100%;
}


section {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.hero {
	padding-top: 0;
}


.two,
.four,
.six,
.eight,
.ten,
.twelve {
	background-color: #D2E7EE;
	padding-left: 3%;
	padding-right: 3%;

}

.no-background {
	padding-left: 5%;
	padding-right: 5%
}


/*Button Sizes*/

#button {
	background-color: #B30000;
	border-color: #B30000;
	border-radius: 4rem;
	box-shadow: .5rem .5rem .5rem #777777;
	color: white;
	font-family: 'Zilla Slab', serif;
	font-size: 1.8rem;
	height: 4.4rem;
	line-height: 2.6rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	text-align: center;
	text-transform: uppercase;
	width: 26.6rem;
}

/*FOOTER*/
.contact-info {
	align-items: center;
	background-color: #B30000;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 1rem;
	text-align: center;
}

/*Landing Page*/

/*need to do opacity with background image*/

.hero-wrap {
	display: flex;
	flex-direction: column;
	height: 90vh;
	margin: auto;

}

.hero::before {
	background-image: url(/images/landing-hero-image.jpg);
	background-size: cover;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	opacity: 0.6;
}



.introduction {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 2.2rem;
	line-height: 3rem;
	padding-left: 9rem;
	text-align: left;
}

.designer-text-big {
	color: #0E0B06;
	font-size: 3rem;
	font-family: 'Major Mono Display', monospace;
	text-transform: uppercase;

}

.designer-text-small {
	color: #0E0B06;
	font-family: 'Major Mono Display', monospace;
	font-size: 2.2rem;
	text-transform: lowercase;
}


.bunk {
	border-radius: 50%;
	max-height: 20rem;
	max-width: 20rem;
}

.project-wrap {
	align-content: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;

}

.left-wrap {
	display: grid;
	grid-template-columns: 1fr;
	margin: auto;
	padding-bottom: 2.5rem;
	text-align: center;
}

.right-wrap {
	margin: 0;
	padding-bottom: 2.5rem;
	text-align: center;
}


/*Landing Page Project Sections*/

#top-taster {
	background-color: #D2E7EE;
	opacity: 25%;
}

.pinterest-logo {
	display: block;
	margin: 0 auto;

}

.drive-logo {
	display: block;
	margin: 0 auto;
}

.wunderlist-logo {
	display: block;
	margin: 0 auto;
}

.recent-work {
	text-align: center;
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 2rem;
	font-weight: 600;
	text-decoration: underline;
	text-transform: uppercase;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.project-name {
	color: #B30000;
	font-family: 'Zilla Slab', serif;
	font-size: 2.4rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	padding-top: 2.5rem;
}

.project-explanation {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
}


.prototype {
	outside border box-shadow: 0 0 2rem #777777;
}


/*PROJECT CASE STUDY PAGES*/

/*
. {
	background-color: #A6E6FC;
}
*/

.project-case-study {
	margin: auto;
}

.deliverables-list {
	display: grid;
	grid-template-columns: 1fr;
}

.deliver-two {
	padding-top: 2rem;
}

.deliver-three {
	padding-top: 2rem;
}

.deliverables-list li {
	padding-bottom: 1rem;
	;
}



.content-conclusions {
	color: #B30000;
	font-family: 'Zilla Slab', serif;
	font-size: 3.2rem;
	text-transform: lowercase;
	padding-top: 2rem;
}

.section-header {
	color: #B30000;
	font-family: 'Major Mono Display', monospace;
	font-size: 2.5rem;
	padding-bottom: 1rem;
	text-transform: lowercase;
}

.section-questions {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 1.8rem;
	font-weight: 700;
	padding-bottom: 1rem;
	padding-top: 2rem;
	text-transform: lowercase;
}

.body-list-headers {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 2.2rem;
	font-style: italic;
	font-weight: 600;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.list-answers {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-weight: 400;
	font-size: 1.8rem;
	padding: .5rem;

}

.performed {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 1.8rem;

}

.products {
	color: #0e0b06;
	font-family: 'Zilla Slab', serif;
	font-size: 2rem;
	text-align: center;
	padding-bottom: 2rem;
}

.market-products {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}


.market-survey-responses {
	display: flex;
	flex-direction: column;
}

.survey-responses-one {
padding-top: 1rem;
}


.survey-responses-two {

}

.survey-responses-three {

}

.swot-button-center {
	text-align: center;
}

.persona-wrap {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;

}

.persona-one .persona-two .persona-three {
	box-shadow: inset 0 0 10px #777777;

}

.persona-name {
	color: #B30000;
	font-family: 'Zilla Slab', serif;
	font-size: 3rem;
	text-align: center;
	text-transform: capitalize;
	padding-bottom: 1rem;
	padding-top: 2rem;

}

.persona-text {
	color: #0e0b06;
	font-family: 'Zilla Slab', serif;
	font-size: 1.8rem;
}


.charts {
	background-color: white;
	max-height: 50%;
	max-width: 50%;
	margin: 0 auto;
}

.sitemap {
/*	box-shadow: inset 0 0 10rem #777777;*/
	align-content: center;
	justify-content: center;
}

.previous-attempts {
	display: block;
	margin: 0 auto;
}

.final-styleguide-logo {
	text-align: center;
	padding-bottom: 2.5rem;
}

.final-fonts {
	display: flex;
	flex-direction: column;
}

.logo-stack-one {
	padding-bottom: 1rem;
}

.logo-stack-two {
	padding-bottom: 1rem;
}

.logo-stack-three {
	text-align: left;
}

.wine-colors {
	display: block;
	margin: 0 auto;
}

.picture-explanation {
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
}

.picture-italics {
	font-style: italic;
}

.picture-explanation-center {
	text-align: center;
}

.wireframe-labels {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 2rem;
	padding-bottom: 2.5rem;
	padding-top: 5rem;
	text-align: center;
	text-transform: uppercase;
}

.button-center {
	text-align: center;
}


.image-center {
	display: flex;
	flex-direction: column
}

.wireframes {
/*	box-shadow: 0 0 10px #777777;*/
	display: grid;
	grid-template-columns: 1fr;
	margin: 2rem auto;
}

img .wireframes {
	margin: 0 auto;
}

.flow-charts {
	display: block;
/*	border: .1rem solid black;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.lofi-wireframes {
	display: flex;
	flex-direction: column;
	flex-grow: 1rem;
}


.hifi-wireframes {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
}


.landing-pictures {
	display: flex;
	flex-direction: column;

}

.landing-options {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: space-around;
}


.logo-options {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.organization-options {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.project-conclusion-text {
	padding-bottom: 2rem;

}




/*BIOGRAPHY */

#top-bio {
	background-color: #D2E7EE;
	/*	opacity: 40%*/
}

.bio-flex {
	display: grid;
	grid-template-columns: 1fr;

}

.icon-text-designer {
	display: flex;
	flex-flow: column-reverse;
}

.why-design {
	padding-bottom: 2rem;
}

.designer {
	padding-bottom: 1rem;

}


.bio-designer-text {
	display: flex;
	flex-direction: column;

}


/*ICONS*/
.storyboard {
	padding-bottom: 1rem;
}

.frustrated {
	padding-bottom: 1rem;
}

.chaplin {
	padding-bottom: 1rem;
}


.design-characters {
	display: flex;
	flex-flow: column;

}

.design-story {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}


.design-frustration {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}


.about-me {
	color: #0E0B06;
	font-family: 'Zilla Slab', serif;
	font-size: 1.8rem;
	font-weight: 600;
	padding-bottom: 2rem;
}



.school {
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding-bottom: 1rem;
}

.architect {
	padding-right: 10%
}

.film {
	padding-left: 10%
}


.golf-group {
	display: block;
	margin: auto;
	padding: 1rem 0;

}

.bio-question-red {
	color: #B30000;
	font-family: 'Zilla Slab', serif;
	font-size: 2.2rem;
	font-weight: bold;
	text-transform: capitalize;
	padding-bottom: 2rem;
	text-align: left;
}

.bio-question-black {
	color: #0e0b06;
	font-family: 'Zilla Slab', serif;
	font-size: 2.2rem;
	font-weight: bold;
	padding-bottom: 2rem;
	text-align: left;
	text-transform: capitalize;
}

.three .bio-question-red {
	margin: 0;
}

.mini-subhead {
	font-family: 'Zilla Slab', serif;
	font-size: 1.8rem;
	font-weight: 600;
	padding-top: 1rem;
	text-align: left;
}

.bio-italics {
	font-family: 'Zilla Slab', serif;
	font-size: 1.8;
	font-weight: 600;
	font-style: italic;

}

.privacy-future {
	display: flex;
	flex-flow: column;
	padding: 1rem;
}

.privacy {
	height: 100%;
}


/*MEDIA QUERIES*/

/*smaller text*/
/*smaller buttons?  and centered*/
/*smaller bunk picture*/
/*bio icons center*/

/*MOBILE*/

/*
@media screen and (min-width 320px) {
	.container {
		align-items: stretch;
		display: flex;
		flex-direction: column;

	}
}
*/



/*TABLET*/

/*
@media screen and (min-width 768px) {
	.container {
		width: 75rem;
	}

	.section {
		display: grid;
		grid-auto-columns: 1fr 1fr;
		margin: 0 auto;
	}
}
*/



/*DESKTOP*/

/*
@media screen and (min-width 1024px) {
	.container {}
}
*/
